# Foundry project endpoint URL, which can be found in the Azure portal under your Foundry project settings
FOUNDRY_PROJECT_ENDPOINT="https://your-ai-foundry-instance-name.services.ai.azure.com/api/projects/your-ai-foundry-project-name"
MODEL_DEPLOYMENT_NAME="gpt-4.1"

# Azure AD tenant ID for authentication. 
# This is required to authenticate with the Foundry project and access Microsoft Work IQ data. You can use the same tenant for both the Azure services and user authentication, or separate tenants if needed.
AZURE_TENANT_ID="azure-tenant-id"

# Can be the same as AZURE_TENANT_ID or different 
# if using a separate tenant for user authentication
WORK_TENANT_ID="work-tenant-id"